.notice__container {
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
}

.notice__block {
  display: flex;
  position: relative;
  margin: 8vw 12.5vw 0 12.5vw;
  background-color: var(--orange);
  height: 14vw;
  max-width: 1200px;
  max-height: 220px;
  border-radius: 1.5vw;
  overflow: hidden;
}

.notice__block--left {
  width: 60%;
  margin-left: 3.2vw;
  display: flex;
  flex-direction: column;
  padding-top: 2.2vw;
  max-width: 630px;
}

.notice__text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.2px;
  color: white;
}

.notice__button {
  border-radius: 1vw;
  max-width: 209px;
  max-height: 48px;
  padding: 1vw 2vw;
  margin-top: 1.4vw;
  position: relative;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  color: var(--orange);
  background-color: white;
  border: transparent;
  z-index: 10;
}

.big__elefant {
  width: 21vw;
  max-width: 361px;
  position: absolute;
  top: -13vw;
  left: 65%;
}

.notice__virus--small {
  position: absolute;
  top: 8vw;
  left: 22vw;
  max-width: 191px;
  width: 10vw;
}

@media screen and (min-width: 1600px) {
  .notice__block {
    position: relative;
    margin: 152px 200px 52px 200px;
    border-radius: 24px;
  }

  .notice__block--left {
    padding-top: 44px;
  }

  .notice__text {
    font-size: 24px;
  }

  .notice__button {
    margin-top: 24px;
    padding: 15px 34px;
    font-size: 16px;
    border-radius: 12px;
    z-index: 10;
    position: relative;
  }
}

@media screen and (max-width: 1400px) {
  .notice__block--left {
    width: 65%;
    margin-left: 50px;
  }

  .notice__block {
    height: 260px;
  }

  .notice__virus--small {
    top: 140px;
  }
}
@media screen and (max-width: 1000px) {
  .notice__block--left {
    width: 60%;
    margin-left: 45px;
  }

  .big__elefant {
    width: 202px;
    max-width: 361px;
    position: absolute;
    top: -13vw;
    left: 65%;
  }

  .notice__container {
    margin-top: 120px;
  }
}

@media screen and (max-width: 700px) {
  .big__elefant {
    left: 35%;
    top: -210px;
  }
  .notice__container {
    margin-top: 220px;
  }

  .notice__block {
    height: 390px;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 50px;
    border-radius: 12px;
  }

  .notice__text {
    font-size: 18px;
  }

  .notice__block--left {
    width: 80%;
    margin-left: 0;
    align-items: center;
    padding-bottom: 20px;
  }
  .notice__text {
    padding-bottom: 20px;
  }
}
